# .gitignore
git-notes.txt

# Mac exclude
.DS_Store
/DerivedData
.derived-data-log-*
/*/project.xcworkspace/
/*/xcuserdata/
*.xcuserstate

# Windows VisualStudio
.ipch/
x64/
obj/
bin/
lib/
.vs/
*.obj
*.exe
*.pdb
*.lib
*.aps
*.user  # project.vcxproj.user
*.vcxproj.user

# Compiled objects
*.o
